{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

         <h1 class="text-center mt-5 text-primary">Bienvenue chez NejShop</h1>
    <div class="container">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Connexion</a></li>
            <li><a data-toggle="tab" href="#menu1">Inscription</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Connectez vous !!!</h3>




                <form method="post">

                    <label for="inputEmail">Email</label>
                    <input type="email"  name="email" id="inputEmail" class="form-control mb-3" >
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3" >


                    <button class="btn btn-primary" type="submit">
                        Se connecter
                    </button>







            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Inscrivez vous !!</h3>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class=" px-5 btn btn-primary mb-5 ">S'inscrire</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>






{% endblock %}
